<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>cloudserver-gui</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>vmDetailServlet</servlet-name>
		<servlet-class>com.google.educloud.gui.servlet.VMDetailServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>vmDetailServlet</servlet-name>
		<url-pattern>
          /vmDetail
      </url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.google.educloud.gui.servlet.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>
          /loginServlet
      </url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>authFilter</filter-name>
		<filter-class>com.google.educloud.gui.servlet.filter.AuthFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>authFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>